a {
  text-decoration: none;
}

.header {
  background-color: #243436;
  color: white;
  font-family: "Lora";
  position: fixed;
  top: 0;
  left: 0;
  margin: 0;
  padding: 0;
  border-bottom: none;
  width: 100%;
  z-index: 1000;
}


body {
  padding-top: 101px;
}

.top-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.75rem 1.5rem;
  gap: 2rem;
  flex-wrap: wrap;
}

.logo-area {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  color: white;
}

.logo {
  height: 2.5rem;
}

.title {
  font-weight: bold;
  font-size: 1.25rem;
}

.right-section {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-left: auto;
  flex-wrap: nowrap;
  min-width: 200px;
}

.search-bar {
  padding: 0.7rem 1.6rem;
  border-radius: 6px;
  font-size: 1rem;
  border: none;
  max-width: 300px;
  background-color: white;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  flex: 1;
}

.search-bar:focus {
  outline: none;
  box-shadow: 0 0 0 2px #c1e3d8;
}

.cart {
  text-decoration: none;
  display: flex;
  align-items: center;
}

.nav-bar {
  background-color: #344A4b;
  display: flex;
  justify-content: space-around;
  gap: 5rem;
  padding: 0.5rem 0;
  border-bottom: none;
  flex-wrap: nowrap;
}

.nav-bar a {
  color: white;
  text-decoration: none;
  font-size: 1.16rem;
}

.nav-bar a:hover {
  text-decoration: underline;
}


@media (max-width: 768px) {
  body {
    padding-top: 164px;
  }

  .logo {
    height: 2rem;
  }

  .title {
    font-size: 1rem;
  }

  .search-bar {
    max-width: 180px;
    font-size: 0.9rem;
  }

  .cart svg {
    font-size: 1.2rem;
  }

  .nav-bar {
    gap: 4.5rem;
    justify-content: center;
    padding: 0.75rem 1rem;
  }

  .nav-bar a {
    font-size: 0.9rem;
  }

  .top-bar {
    gap: 1rem;
  }

  .right-section {
    gap: 0.5rem;
  }
}

