a {
  text-decoration: none;
}
.header {
  background-color: #b86333;
  color: white;
  font-family: "Playfair Display" , serif;
}

.top-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.75rem 1.5rem;
}

.logo-area {
  display: flex;
  align-items: center;
  text-decoration: none;
  gap: 0.5rem;
  color: white;
}

.logo {
  height: 2.5rem;
}

.title {
  font-weight: bold;
  font-size: 1.25rem;
}

.search-bar {
  flex: 1;
  margin: 0 1rem;
  max-width: 400px;
  padding: 0.5rem;
  border-radius: 4px;
  border: none;
  font-family: inherit;
  font-size: 1rem;
}

.cart {
  text-decoration: none;
}

.nav-bar {
  background-color: #d39366;
  display: flex;
  justify-content: center;
  gap: 3rem;
  padding: 0.5rem 0;
}

.nav-bar a {
  color: white;
  text-decoration: none;
  font-size: 1rem;
}

.nav-bar a:hover {
  text-decoration: underline;
}

