
* {
    margin: 0;
    padding: 0;
    
  }
  
  /* Define fonte e cor de fundo global */
  body {
    font-family: 'Playfair Display', serif;
    background-color: white;
  }

  
  .layout-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }
  
  main {
    flex: 1;
  }
  