.historia-container {
  width: 100%;
  padding: 8rem 4rem 4rem 4rem; 
  box-sizing: border-box;
  background-color: white;
  font-family: 'Playfair Display', serif;
  color: black;
}

.historia-header {
  text-align: center;
  margin-bottom: 3rem;
}

.historia-header h1 {
  font-size: 2.5rem;
  font-weight: bold;
}

.historia-header p {
  font-size: 1.2rem;
  line-height: 1.5;
  margin-top: 1rem;
}

.timeline {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.evento {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 2rem;
  background-color: #fafbfb;
  border-radius: 1rem;
  padding: 1.5rem;
  border: 0.1rem solid black;
}

.evento img {
  flex: 1 1 300px;
  max-width: 300px;
  width: 100%; 
  height: auto;
  border-radius: 0.5rem;
  object-fit: cover;
}

.texto {
  flex: 2 1 300px;
}

.texto h2 {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.texto p {
  font-size: 1rem;
  line-height: 1.6rem;
}

@media (max-width: 768px) {
  .historia-container {
    padding: 8rem 2rem 3rem 2rem;
  }

  .evento {
    flex-direction: column;
    text-align: center;
  }

  .texto {
    flex: 1 1 auto;
  }

  .texto h2 {
    font-size: 1.3rem;
  }

  .texto p {
    font-size: 0.95rem;
  }
}

@media (max-width: 425px) {
  .historia-container {
    padding: 11rem 1rem 2rem 1rem;
  }

  .historia-header h1 {
    font-size: 2rem;
  }

  .historia-header p {
    font-size: 1rem;
  }

  .evento {
    padding: 1rem;
    gap: 1rem;
  }

  .evento img {
    max-width: 100%;
  }

  .texto h2 {
    font-size: 1.2rem;
  }

  .texto p {
    font-size: 0.9rem;
  }
}

.avatar-img {
  filter: brightness(0.80) saturate(80%) hue-rotate(150deg);
}
